<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Discuss the book <em>Applying Clean Architecture: Ruby on Rails</em> and this sample app on the
  <a href="https://leanpub.com/applyingcleanarchitecture-rails/feedback">Leanpub Feedback page</a> or contact the author
  using the <a href="https://leanpub.com/applyingcleanarchitecture-rails/email_author/new">Leanpub Contact form</a>.
</p>