<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  To get help on this sample app, see the
  <a href="https://leanpub.com/applyingcleanarchitecture-rails"><em>Applying Clean Architecture: Ruby on Rails</em>
  book</a>.
</p>